{% extends "productes/base.html" %}

{% block content %}
<ul>
    {% for detall in detalls %}

	    {% if forloop.first %}

	    	

        	<h2>Carrito {{detall.carrito.nom}}</h2>
        {% if detall.carrito.obert == True%}

				<button class="btn btn-danger" type="button" onclick="location.href='/tancar'">Cerrar carrito</button>

				{%else%}

				<button class="btn btn-success" type="button" onclick="location.href='/abrir/{{detall.carrito.id}}'">Abrir carrito</button>

			{%endif%}
			
    	{%endif%}

    	<li>{{detall.producte.nom}} - {{detall.producte.preu}}€</li>

	{% empty %}

    	<li>No articles yet.</li>

    
	{% endfor %}
</ul>

	


{% endblock %}